<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>昨天一妹纸突然对我说道：“我怀孕了。”\n我当时大惊失色的问道：“谁的？”\n妹纸回道：“这段时间我就只和你见过面，你说这孩子谁的？”\n然后我整个人都吓傻了，难道视频聊天也会致人怀孕？</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6760324191/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>晚饭后，老公教训儿子…\n老公：你过来，干脆我们互换角色吧？\n儿子：你是老爸，我们怎能互换呢！？\n老公啪啪就是几巴掌……\n儿子捂着脸：老爸，我说错了吗？我们不能互换，你打我干嘛？\n老公：尼玛，你说，这个月我有20多天去学校了，你有吗？\n……</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6787975972/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>那八个字能一个电话让男人随叫随到风雨无阻</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6791347140/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>网上聊了一妹子，今天见面。问老妈要了二百块钱，老妈问我干嘛用，我说约会，她高高兴兴的就给了。刚出家门，老爸就把我拽到一边说“小子，二百块钱给我一百，半个月不知道烟的滋味了。”我说“爸，这是我的约会钱，不能给你。”“那是我刚建的小号，快拿来。”</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6768817065/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>小明回家高兴的对妈妈说：妈妈我今天在外面吃面赚大了 妈妈：为什么呀？\n小明：我拿十块钱吃了碗八块钱的面老板竟然找了我九十二哈哈！\n妈妈：哈哈哪个煞笔面店老板啊！\n小明：下面的王记面馆啊！那煞笔王老板啊！\n妈妈面色一紧语重心长的说：以后没钱了就去那吃面吧，还有不许骂他煞笔。</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p4510700184/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>我一个朋友出差回家在家门口听声音不对，就大声敲门 ，过了好一会儿，他媳妇面色潮红的来开门，只见我的小伙伴在房里转了一圈拿了一个大铁链就把衣柜锁上了，然后在家里呆了两天，吃饭都是叫外卖，期间他媳妇不停的劝他出去，他也不去 ，两天后开了柜子就是一顿暴打，，，，，，</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6704918302/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>今天在人行道捡到一个纸飞机，拆开看上面写着621x 不是很明白 难道现在玩纸飞机都要这型号？</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6797617116/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>儿子满周岁，请双方父母亲戚吃饭。席间逗儿子：宝贝，会叫什么？儿子叫：爸爸…妈妈！还会什么？儿子又叫：老公。大伙乐了，继续逗，儿子蹦出一句：老公，用力……然后，都碉堡了！</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6640422277/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>前女友打来电话，说她被那男的甩了，想借我一千块钱打胎，我说:“受那罪干啥？生下来吧！”她犹豫一下问:“你不介意？”我说:“不介意！”\n我是真不介意，跟我有毛关系啊！</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p4474080129/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>昨天和男友在家，突然听见外面关门声，男朋友一脸淫笑看着我说：老爸他们好像出去了，要不咱们……然后我们就各种放肆啪，放肆叫！事后到客厅倒水喝，正巧撞见他爸，那个尴尬啊……我来了句:叔，原来你在啊……原来你在啊……啊……</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6709523437/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>茄子:你怎么只剩一半了？\n半截黄瓜:断了……\n茄子:怎么断的？\n半截黄瓜:……\n茄子:断的那一半呢？\n半截黄瓜:在外面……</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p4511719953/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>一天 猪八戒 给孙悟空说“大师兄，医院专门给你开设了一个科室啊”悟空说“什么科室”八戒回答道“二逼猴科”。</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6640422275/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>陈慧林生的孩子叫小笼包，姚晨生了儿子叫小土豆，杨幂生了女儿叫小糯米，我就在想，以后大家都用食物给孩子起小名。满大街听见孩儿他妈喊：小芋头不要和大番薯玩了，火腿肠看你来了！“酸辣粉你见俺家长寿面没有？”“见呐，他跟狗不理出去了。</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p4475066441/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>这么热的天气老公还在外面拉货，为货车司机们加油！✊✊✊✊✊✊✊</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6802624289/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>一哥们骑摩托车撞树上了，哥几个去医院看他。 问：骑了这么多年车了，怎么还能撞树上？ 哥们答：看美女了。 问：看完不回头么？ 答：回了，头盔没回。。。头盔没回。。</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6640357482/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>你喜欢上过自己的同桌吗？</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6799501962/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>感冒了在医院挂吊针，旁边有一哥们看电视看的入迷，我看他药完了，就提醒了他一句，他一看都回血了，着急的喊到：服务员、唉不对。网管、唉不对。老板、唉我艹。算了，我自己拔！</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6640525450/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>推荐lost rivers的那个人，你出来，我保证不打死你，大半夜听了一声就不敢睡了，到现在中午了还瑟瑟发抖的坐在床上！</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6800135772/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>一月前交了个女朋友,26岁 身高16.5体重115 丰乳肥臀连续和她啪啪20天了。每天两次一次半小时今天刚啪完感觉头昏眼花 四肢无力而且想吐。走的候放话了说明天来大姨妈今晚要多来一次……</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6799635750/</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://neihanshequ.com</string>
		<key>text</key>
		<string>我小时候家里穷我上学又不好没有一个人愿意和我玩上到初三上不下去了出来以后干了厨师这一行应为没底子师傅天天骂我我忍了因为我知道我没本事因为没有朋友我就想和他们成为好朋友可是他们看不起我这个啥都不会的人虚心学了3年也学的差不多了也认识了几个朋友可是他们好像从来都没有把我当成朋友他们没钱了找我借钱，我是打到你卡上吧他说他卡掉了让我送过去我说好，我做了3个小时的大巴去了tm的把钱给他了就tm请我吃了一碗饺子就让我走了就这样我还是把它当兄弟另一个人没钱了找我借钱我也没钱了没办法了我就找我的老板借钱给了他可现在呢我找他们借钱跟喝他们血一样在说我那也不是借我是拿回本来就属于我的结果他们说我人不行，现在都没还</string>
		<key>text_link</key>
		<string>http://neihanshequ.com/p6788669113/</string>
	</dict>
</array>
</plist>
